@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway&display=swap');

.lora_title {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #2C6E49;
  font-size: 2rem;
  text-align:center;
  text-decoration: none;
  background-color: rgb(44, 110, 73, 0.1);
}

.lora_title:hover {
  color: #2C6E49;
}

.navbar {
  border-bottom: 1px solid #2C6E49;
  background-color: rgb(44, 110, 73, 0.1);
}

.nav-link {
    color: #858381;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.active, .nav-link:hover {
    color: #4C956C !important;
}

h1, h2 {
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.tea_image {
  width: 250px; 
  height: 250px; 
  object-fit: cover;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

figcaption, p {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem !important;
  text-decoration: none;
}

p {
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.bi {
    width: 25px;
    height: 25px;
}

#quantity {
    width: 50px;
}

.basket_title {
    max-width: 80px;
}

.checkout_button{
    width: 500px;
}

.checkout_button, .basket_button {
    background-color: rgb(44, 110, 73, 0.8);
    border: none;
}

.checkout_button:hover, .basket_button:hover {
    background-color: rgb(44, 110, 73, 1);
}