{% extends "layout.html" %}

{%block body_content %}

<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h1>Basket</h1>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered m-0">

                <thead>
                  <tr>
                    <th class="basket_teas_title py-3 px-4">Bubble Teas</th>
                    <th class="basket_title py-3 px-4">Price</th>
                    <th class="basket_title py-3 px-4">Quantity</th>
                  </tr>
                </thead>

                <tbody>
                  {% for tea in basket %}
                      {% if tea.quantity %}
                          <tr>
                            <td class="p-4">
                              <div class="align-items-center">
                                <img src="{{ url_for('static', filename=tea.tea_filename) }}" class="tea_image" alt="">
                                    <p class="figure-caption text-start mt-4">{{ tea.tea_name }}</p>
                              </div>
                            </td>
                            <td class="text-right align-middle p-4">£{{ tea.tea_price }}</td>
                            <td class="text-right align-middle p-4">{{ tea.quantity }}</td>
                          </tr>
                      {% endif %}
                  {% endfor %}
                  <tr>
                      <th class="basket_title py-3 px-4">Total</th>
                      <th class="basket_title py-3 px-4">£10.00</th>
                      <th class="basket_title py-3 px-4">5</th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="checkout">
                <form method="POST" class="text-center">
                    {% for tea in basket %}
                        <input type="hidden" name="tea_id[]" value="{{ tea.tea_id }}">
                        <input type="hidden" name="quantity[]" value="{{ tea.quantity }}">
                    {% endfor %}
                    <label for="customer_name">Customer Name:</label>
                    <input type="text" id="customer_name" class="my-5" name="customer_name" required><br>
                    <button type="submit" class="checkout_button p-1 btn btn-lg btn-primary mb-2">Checkout</button>
                </form>
            </div>
      </div>
  </div>
</div>

{% endblock %}
