{% extends "layout.html" %}

{%block body_content %}

<h1 class="my-5">Bubble Tea Menu</h1>
<div class="row container-fluid">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 text-center">
        <div class="row">
        {% for tea_title, tea_file in tea_list.items() %}
        <div class="col-md-3">
            <a class="image_link" href="">
                <img class="tea_image" src="{{ url_for('static', filename=tea_file) }}">
                <button onclick="addToCart})" type="button" class="btn btn-primary">Add to Cart</button>
            </a>
            <figcaption class="figure-caption mt-4 mb-5">{{ tea_title }} £4.95</figcaption>
        </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>


{% endblock %}